{% load static %}


<li>
    <article class="post">
        <a href="{% url "post-detail-page" "scotland-tour" %}">
            <img src="{% static  "blog/images/mountains.jpg" %}" alt="Scotland Tour" />
            <div class="post__content">
                <h3> Scotland Tour </h3>
                <p> There's nothing like the views when touring in the mountains in Scotland! And I wasn't even
                    what happened whilst I was enjoying the view!
                </p>
            </div>
        </a>
    </article>
</li>